package templates

import (
    "fmt"
)

templ Base(env string) {
	<!DOCTYPE html>
	<html lang="en">
		<head>
			<meta charset="UTF-8"/>
			<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
			<title>Secrets Manager API</title>
			<link href={ fmt.Sprintf("/%s/static/css/output.css", env) } rel="stylesheet"/>
			<link rel="icon" href="data:,"/>
			<link rel="icon" type="image/x-icon" href="https://avatars.githubusercontent.com/u/72142537"/>
			<script src={ fmt.Sprintf("/%s/static/js/htmx.min.js", env) }></script>
			<script defer src={ fmt.Sprintf("/%s/static/js/alpine.min.js", env) }></script>
			<script src={ fmt.Sprintf("/%s/static/js/cluster.js", env) }></script>
			<script src={ fmt.Sprintf("/%s/static/js/code.min.js", env) }></script>
			<script src={ fmt.Sprintf("/%s/static/js/textarea.min.js", env) }></script>
			<script src="https://js.stripe.com/v3/"></script>
		</head>
		<body>
			@Toast(env)
			<div class="relative md:flex font-primary w-screen min-h-screen">
				{ children... }
			</div>
		</body>
	</html>
}
