package templates

templ Footer() {
    <footer class="w-full py-4 text-center text-sm text-gray-600">
        <div class="w-full flex flex-col items-center justify-center mb-4">
    	    &copy; 2025 ip812. All rights reserved.
        </div>
    </footer>
}
