package views

templ ClustersList(clusters []string) {
	<div class="space-y-2">
		for _, cluster := range clusters {
			<div class="p-2 bg-gray-50 rounded">{ cluster }</div>
		}
		if len(clusters) == 0 {
			<div class="p-2 text-gray-500">No clusters found</div>
		}
	</div>
}

templ ClusterOptions(clusters []string) {
	if len(clusters) > 0 {
		for i, cluster := range clusters {
			if i == 0 {
				<option value={ cluster } selected>{ cluster }</option>
			} else {
				<option value={ cluster }>{ cluster }</option>
			}
		}
	} else {
		<option value="" disabled>No clusters available</option>
	}
}

