package views

import (
	"github.com/iypetrov/lambdas/secrets-manager-api/secrets"
)

templ DashboardPage(stats *secrets.Statistics, env string) {
	@Layout(LayoutProps{
		Env:        env,
		ActivePage: "home",
	}) {
		@DashboardContent(stats, env)
	}
}

