package views

import (
	"fmt"
	"github.com/iypetrov/lambdas/secrets-manager-api/templates/button"
	"github.com/iypetrov/lambdas/secrets-manager-api/templates/components"
)

templ TLSCertificatesPage(env string) {
	@Layout(LayoutProps{
		Env:        env,
		ActivePage: "tls-certificates",
	}) {
	<div class="w-full">
		<div class="flex justify-between items-center mb-6">
			<div>
				<h1 class="text-3xl font-bold mb-2 text-gray-900">TLS Certificates</h1>
				<p class="text-gray-600">Manage your TLS certificates</p>
			</div>
			@components.ClusterDropdown(components.ClusterDropdownProps{Env: env})
		</div>

		<div class="mb-4 flex justify-between items-center">
			<h2 class="text-2xl font-bold text-gray-900">TLS Certificates</h2>
			@button.Button(button.Props{
				Variant: button.VariantDefault,
				Attributes: templ.Attributes{
					"x-on:click": "showImportTLSModal = true",
				},
			}) {
				<span>+ Import Certificate</span>
			}
		</div>
		<div 
            id="tls-certificates-table" 
            x-bind:hx-get={ fmt.Sprintf("'/%s/api/v0/tls-certificates?cluster=' + ($store.cluster.selectedCluster || '')", env) }
            hx-trigger="load, refresh from:body, refreshTLSCertificatesTable from:body"
            hx-swap="innerHTML"
            hx-target="this"
            x-effect="$watch('$store.cluster.selectedCluster', () => htmx.trigger('body', 'refreshTLSCertificatesTable'))"
        >
			<div class="flex items-center justify-center p-8">
				<div class="animate-spin rounded-full h-8 w-8 border-b-2 border-gray-900"></div>
			</div>
		</div>
	</div>
	}
}

